ul {list-style-type: none;}

/* Month header */
.month {
    padding: 20px 7px;
    background: #4D61BC;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 8px 7px;
    background-color:#ddd;

}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 7px;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size:14px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #4D61BC;
    color: white !important
}ul {list-style-type: none;}

/* Month header */
.month {
    padding: 10px 7px;
    background: #4D61BC;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 8px 7px;
    background-color:#ddd;

}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 7px 7px;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size:14px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #4D61BC;
    color: white !important
}