
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
}

div#header {
 width: 100%;
 height: 55px;
 background-color: #2c3e50; 
 margin: 0 auto;
}

.logo{
	float: left;
	margin-top: 10px; 
	margin-left: 10px;
}

.logo a {
	font-size: 1.6em;
	color: #fff;
}

.logo a span {
	font-weight: 300;
}

div#container {
	width: 100%;
	margin: 0 auto;
}


.sidebar {
	width: 250px;
	background:#171717;
	float: left; 
}

ul#nav{

}

ul#nav li {
	list-style: none;
}
ul#nav li a {
  color: #ccc;
  display: block;
  padding: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #444;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

ul#nav li a:hover {
 background: #030303;
 color: #fff;
}

ul#nav li a.selected{
	background: #030303;
	color:#fff;
}


.content {
	width: auto;
	height: 100%;
	background: #95a5a6;
	margin-left: 250px;
	padding: 15px;
}

.content p {
	color: #424242;
	fonnt-size: 0.8em;
}

div#box {
	margin-top: 15px;
}

div#box .box-top {
	color: #fff;
	text-shadow: 0 1px #000;
	background: #2980b9;
	padding: 5px;
	padding-left: 15px;
	font-weight: 300;
} 

div#box .box-panel {
	padding: 40px;
	background: #fff;
    color: #333;
}



@media only screen and (max-width: 480px) {

a.mobile {
	display: block;
	color: #fff;
	background: #000;
	text-align: center;
	padding: 7px; 
	cursor: pointer;
}

a.mobile:active{
	background: #474747;
}


.sidebar {
	width: 100%;
	display: none;
	height: auto;
}

.content {
   margin-left: 0;
}


}



@media only screen and (min-width: 480px) {

.sidebar {
	min-height: 900px;
	display: block;
}

a.mobile {
	display: none;
}


}